In [36]:
import pyodbc
#conectar a la base de datos SQL Server
conn = pyodbc.connect(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=DESKTOP-300TGVJ\\MSSQLSERVER02;"  # nombre del servidor e instancia
    "DATABASE=DelitosMunicipales;" # nombre de la base de datos
    "Trusted_Connection=yes;"  #Autenticacion de windows
)

In [37]:
#creacion del cursor
cursor = conn.cursor()
cursor.execute("SELECT TOP 10 * FROM Municipal_Delitos2015_2021")
# Mostrar los resultados
for fila in cursor.fetchall():
    print(fila)
# Cerrar conexión
#conn.close()

(2019, 20, 'Oaxaca', 20321, 'San Pedro Nopala', 'Otros bienes jurídicos afectados (del fuero común)', 'Delitos cometidos por servidores públicos', 'Delitos cometidos por servidores públicos', 'Delitos cometidos por servidores públicos', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
(2019, 20, 'Oaxaca', 20321, 'San Pedro Nopala', 'Otros bienes jurídicos afectados (del fuero común)', 'Electorales', 'Electorales', 'Electorales', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
(2019, 20, 'Oaxaca', 20321, 'San Pedro Nopala', 'Otros bienes jurídicos afectados (del fuero común)', 'Otros delitos del Fuero Común', 'Otros delitos del Fuero Común', 'Otros delitos del Fuero Común', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
(2019, 20, 'Oaxaca', 20322, 'San Pedro Ocopetatillo', 'La vida y la Integridad corporal', 'Homicidio', 'Homicidio doloso', 'Con arma de fuego', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
(2019, 20, 'Oaxaca', 20322, 'San Pedro Ocopetatillo', 'La vida y la Integridad corporal', 'Homicidio', 'Homicidio doloso', 'Con arma blanca', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
(2019, 20, 'Oaxaca', 20322, 'San Pedro Ocopetatillo', 'La vida y la Integridad corporal', 'Homicidio', 'Homicidio doloso', 'Con otro elemento', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
(2019, 20, 'Oaxaca', 20322, 'San Pedro Ocopetatillo', 'La vida y la Integridad corporal', 'Homicidio', 'Homicidio doloso', 'No especificado', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
(2019, 20, 'Oaxaca', 20322, 'San Pedro Ocopetatillo', 'La vida y la Integridad corporal', 'Homicidio', 'Homicidio culposo', 'Con arma de fuego', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
(2019, 20, 'Oaxaca', 20322, 'San Pedro Ocopetatillo', 'La vida y la Integridad corporal', 'Homicidio', 'Homicidio culposo', 'Con arma blanca', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
(2019, 20, 'Oaxaca', 20322, 'San Pedro Ocopetatillo', 'La vida y la Integridad corporal', 'Homicidio', 'Homicidio culposo', 'En accidente de tránsito', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)

In [38]:
#creación de un DataFrame con los datos a utilizar
import pandas as pd
query = "SELECT Año, Entidad, Municipio, Tipo_de_delito, Subtipo_de_delito, Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre FROM Municipal_Delitos2015_2021"
df = pd.read_sql(query, conn)
conn.close() #cerrar la conexión después de usar pandas
print(df.head())

C:\Users\Rescate123\AppData\Local\Temp\ipykernel_5972\872031040.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

    Año Entidad               Municipio  \
0  2019  Oaxaca        San Pedro Nopala
1  2019  Oaxaca        San Pedro Nopala
2  2019  Oaxaca        San Pedro Nopala
3  2019  Oaxaca  San Pedro Ocopetatillo
4  2019  Oaxaca  San Pedro Ocopetatillo

                              Tipo_de_delito  \
0  Delitos cometidos por servidores públicos
1                                Electorales
2              Otros delitos del Fuero Común
3                                  Homicidio
4                                  Homicidio

                           Subtipo_de_delito  Enero  Febrero  Marzo  Abril  \
0  Delitos cometidos por servidores públicos      0        0      0      0
1                                Electorales      0        0      0      0
2              Otros delitos del Fuero Común      0        0      0      0
3                           Homicidio doloso      0        0      0      0
4                           Homicidio doloso      0        0      0      0

   Mayo  Junio  Julio  Agosto  Septiembre  Octubre  Noviembre  Diciembre
0     0      0      0       0           0        0          0          0
1     0      0      0       0           0        0          0          0
2     0      0      0       0           0        0          0          0
3     0      0      0       0           0        0          0          0
4     0      0      0       0           0        0          0          0

In [39]:
#Modificacion de los meses a formato largo
df_largo = df.melt(id_vars=["Año","Entidad", "Municipio", "Tipo_de_delito", "Subtipo_de_delito"], 
                   value_vars=["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
                               "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                   var_name="Mes",
                   value_name="Cantidad_Delitos")

df_largo.sample(10)

,Año,Entidad,Municipio,Tipo_de_delito,Subtipo_de_delito,Mes,Cantidad_Delitos
14838173,2016,Jalisco,Valle de Guadalupe,Robo,Otros robos,Octubre,0
8600972,2016,Zacatecas,Apozol,Incumplimiento de obligaciones de asistencia f...,Incumplimiento de obligaciones de asistencia f...,Junio,0
14402809,2019,Yucatán,Chacsinkín,Robo,Robo a casa habitación,Octubre,0
7001361,2016,Yucatán,Baca,Secuestro,Secuestro,Mayo,0
13420676,2017,Hidalgo,Chilcuautla,Robo,Robo a transportista,Septiembre,0
13975994,2019,Oaxaca,San Juan Chilateca,Homicidio,Homicidio doloso,Septiembre,0
8637732,2017,Durango,Tlahualilo,Falsificación,Falsificación,Junio,0
3123215,2021,Sonora,Altar,Robo,Robo a transeúnte en espacio abierto al público,Febrero,0
13679256,2018,Jalisco,Tonila,Homicidio,Homicidio culposo,Septiembre,0
3993964,2017,Puebla,Atlixco,Robo,Robo a transeúnte en espacio abierto al público,Marzo,0

In [40]:
# Agrupar y obtener el promedio
promedio = df_largo.groupby(["Año", "Municipio", "Mes"])["Cantidad_Delitos"].mean().reset_index()
promedio

         Año       Municipio         Mes  Cantidad_Delitos
0       2015           Abalá       Abril          0.000000
1       2015           Abalá      Agosto          0.000000
2       2015           Abalá   Diciembre          0.000000
3       2015           Abalá       Enero          0.000000
4       2015           Abalá     Febrero          0.000000
...      ...             ...         ...               ...
182551  2021  Ánimas Trujano       Marzo          0.051020
182552  2021  Ánimas Trujano        Mayo          0.081633
182553  2021  Ánimas Trujano   Noviembre          0.040816
182554  2021  Ánimas Trujano     Octubre          0.112245
182555  2021  Ánimas Trujano  Septiembre          0.061224

[182556 rows x 4 columns]

El promedio es bajo, ya que tenemos muchos valores en 0 /
Ahora vamos a hacer un analisis solo con los Delitos reportados

In [41]:
df_filtrado = df_largo[df_largo["Cantidad_Delitos"] > 0]

# Suma total por municipio
top_municipios = df_filtrado.groupby(["Año","Municipio","Mes"])["Cantidad_Delitos"].sum().sort_values(ascending=False).reset_index()
top_municipios.head(10)

    Año            Municipio         Mes  Cantidad_Delitos
0  2019          Guadalajara       Enero              5198
1  2017          Guadalajara      Agosto              5047
2  2017          Guadalajara     Octubre              4981
3  2018          Guadalajara        Mayo              4843
4  2018          Guadalajara       Marzo              4725
5  2015              Tijuana     Octubre              4675
6  2017          Guadalajara  Septiembre              4674
7  2021                 León      Agosto              4671
8  2015              Tijuana  Septiembre              4656
9  2017  Ecatepec de Morelos     Octubre              4637

Ahora veremos el delito mas comun y la temporada con mayor numero de delitos

In [42]:
delito_mascomun= df_filtrado.groupby(["Municipio", "Tipo_de_delito"])["Cantidad_Delitos"].sum().sort_values(ascending=False).reset_index()
delito_mascomun.head(10)

             Municipio Tipo_de_delito  Cantidad_Delitos
0  Ecatepec de Morelos           Robo            174460
1          Guadalajara           Robo            161795
2              Tijuana           Robo            123783
3        Benito Juárez           Robo            117763
4            Querétaro           Robo            107946
5           Cuauhtémoc           Robo            106230
6           Iztapalapa           Robo            101930
7             Mexicali           Robo            100075
8               Toluca           Robo             90845
9               Puebla           Robo             84338

In [43]:
temporada_topcrimenes= df_filtrado.groupby(["Año", "Mes"])["Cantidad_Delitos"].sum().sort_values(ascending=False).reset_index()
temporada_topcrimenes.head(10)

    Año      Mes  Cantidad_Delitos
0  2019     Mayo            185802
1  2021    Marzo            183113
2  2019  Octubre            182051
3  2019    Julio            180298
4  2019   Agosto            179216
5  2021     Mayo            178077
6  2021  Octubre            177991
7  2018     Mayo            177369
8  2018  Octubre            177250
9  2019    Marzo            176328

promedio de delitos en ciudad de mexico

In [44]:
df_cdmx = df_largo[df_largo["Entidad"] == "Ciudad de México"]

prom_delitos = df_cdmx.groupby(["Año", "Mes", "Tipo_de_delito"])["Cantidad_Delitos"].mean().sort_values(ascending=False).reset_index()
prom_delitos

,Año,Mes,Tipo_de_delito,Cantidad_Delitos
0,2021,Marzo,Violencia familiar,193.941176
1,2021,Mayo,Violencia familiar,189.000000
2,2021,Abril,Violencia familiar,184.705882
3,2021,Octubre,Violencia familiar,181.117647
4,2021,Junio,Violencia familiar,175.882353
...,...,...,...,...
3355,2021,Septiembre,Tráfico de menores,0.000000
3356,2015,Agosto,Violencia de género en todas sus modalidades d...,0.000000
3357,2021,Septiembre,Evasión de presos,0.000000
3358,2021,Octubre,Violencia de género en todas sus modalidades d...,0.000000
3359,2021,Octubre,Tráfico de menores,0.000000

In [ ]:
#Mayor cantidad de homicidios
Homicidios = df_largo[df_largo["Tipo_de_delito"] == "Homicidio"]
homicidios_count = Homicidios.groupby(["Año", "Municipio"])["Cantidad_Delitos"].sum().sort_values(ascending=False).reset_index()
homicidios_count.head(10)

    Año           Municipio  Cantidad_Delitos
0  2018             Tijuana              2392
1  2019             Tijuana              2188
2  2020             Tijuana              2029
3  2021             Tijuana              1967
4  2017             Tijuana              1765
5  2020              Juárez              1616
6  2019              Juárez              1443
7  2021              Juárez              1393
8  2015  Acapulco de Juárez              1156
9  2018              Juárez              1155

In [ ]:
#mayor cantidad de feminicidios
feminicidios = df_largo[df_largo["Tipo_de_delito"] == "Feminicidio"]
feminicidios_count = feminicidios.groupby(["Año", "Municipio"])["Cantidad_Delitos"].sum().sort_values(ascending=False).reset_index()
feminicidios_count.head(10)

    Año            Municipio  Cantidad_Delitos
0  2016     Otros Municipios                35
1  2017             Culiacán                32
2  2018               Juárez                29
3  2018             Culiacán                28
4  2021               Juárez                26
5  2020               Juárez                26
6  2018               Centro                21
7  2017     Otros Municipios                20
8  2018            Monterrey                19
9  2018  Ecatepec de Morelos                19

In [52]:
robo=df_largo[df_largo['Tipo_de_delito']=="Robo"]
robo["Subtipo_de_delito"].value_counts()

Subtipo_de_delito
Robo de vehículo automotor                         1167768
Robo de maquinaria                                 1167768
Robo de autopartes                                  389256
Robo a transportista                                389256
Robo a transeúnte en vía pública                    389256
Robo a casa habitación                              389256
Robo a transeúnte en espacio abierto al público     389256
Robo en transporte público individual               389256
Robo en transporte individual                       389256
Robo en transporte público colectivo                389256
Robo a institución bancaria                         389256
Robo a negocio                                      389256
Robo de ganado                                      389256
Otros robos                                         389256
Name: count, dtype: int64

Analisis de riesgo de delitos a vehiculos privados por municipio

In [58]:
# Total de delitos por municipio y año
total_delitos = df_largo.groupby(["Año", "Municipio"])["Cantidad_Delitos"].sum().reset_index()
total_delitos.rename(columns={"Cantidad_Delitos": "Delitos_Totales"}, inplace=True)

delitos_auto = df_largo[df_largo["Subtipo_de_delito"].str.contains("vehículo|autopartes", case=False, na=False)]
delitos_auto_municipio = delitos_auto.groupby(["Año", "Municipio"])["Cantidad_Delitos"].sum().sort_values(ascending=False).reset_index()
delitos_auto_municipio.rename(columns={"Cantidad_Delitos": "Delitos_Automovil"}, inplace=True)
delitos_auto_municipio.head(10)

    Año            Municipio  Delitos_Automovil
0  2017              Tijuana              11421
1  2018  Ecatepec de Morelos              11077
2  2018          Guadalajara              10967
3  2017          Guadalajara              10696
4  2015  Ecatepec de Morelos              10391
5  2019  Ecatepec de Morelos               9744
6  2019          Guadalajara               9564
7  2017  Ecatepec de Morelos               9511
8  2016  Ecatepec de Morelos               9093
9  2018              Tijuana               8756

In [ ]:
df_riesgo = pd.merge(total_delitos, delitos_auto_municipio, on=["Año", "Municipio"], how="left")
df_riesgo["Porcentaje_Delitos_Auto"] = (df_riesgo["Delitos_Automovil"] / df_riesgo["Delitos_Totales"]) * 100
df_riesgo = df_riesgo.fillna(0).sort_values(ascending=False, by='Delitos_Totales') # Rellenar NaN con 0
df_riesgo.head(30)

,Año,Municipio,Delitos_Totales,Delitos_Automovil,Porcentaje_Delitos_Auto
4172,2017,Guadalajara,53153,10696,20.123041
6496,2018,Guadalajara,52658,10967,20.826845
1513,2015,Tijuana,52039,6229,11.969869
8822,2019,Guadalajara,51075,9564,18.725404
5605,2017,Tijuana,50006,11421,22.839259
13733,2021,León,49199,596,1.211407
4088,2017,Ecatepec de Morelos,47760,9511,19.914154
10257,2019,Tijuana,47415,7945,16.756301
3304,2016,Tijuana,46694,7998,17.128539
8432,2019,Benito Juárez,46358,4412,9.517235
14914,2021,Tijuana,45667,6812,14.916679
8737,2019,Ecatepec de Morelos,45535,9744,21.398924
2272,2016,Ecatepec de Morelos,45509,9093,19.980663
7931,2018,Tijuana,45283,8756,19.336175
13683,2021,Juárez,45263,3128,6.910722
481,2015,Ecatepec de Morelos,44117,10391,23.553279
6411,2018,Ecatepec de Morelos,43793,11077,25.293997
13391,2021,Ecatepec de Morelos,43684,6915,15.829594
871,2015,Mexicali,43650,5463,12.515464
11063,2020,Ecatepec de Morelos,43225,8147,18.847889
9028,2019,Juárez,42473,3371,7.936807
12583,2020,Tijuana,42392,5934,13.997924
6356,2018,Cuauhtémoc,42303,2398,5.668629
2352,2016,Guadalajara,41293,6660,16.128642
8682,2019,Cuauhtémoc,41262,2210,5.356018
4508,2017,Mexicali,40997,4931,12.027709
13084,2021,Benito Juárez,40934,3405,8.318268
2662,2016,Mexicali,40707,5338,13.113224
11354,2020,Juárez,40409,2607,6.451533
11404,2020,León,40275,716,1.777778